<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identify Bollywood Actor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/dropzone.min.css">
    <link rel="stylesheet" href="../static/css/app.css">

</head>

<body>
 <nav class="navbar navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="#">Actor Identify</a>
    </nav>

   <div class="row" style="width:800px">
            <div class="col-sm-4">
			<form action="/file-upload"
      class="dropzone"
      id="dropzone">
	  <div class="dz-message needsclick">
                                <img src="upload.png" width="50vw" height="50vw"><br>
                                <span class="note needsclick">Drop files here or click to upload</span>
                            </div>
	  </form>
	  </div>
	  <div class="col-sm-4">
	  <div id="actorName" class="result">	<h2></h2> </div>
	  </div>
	  </div>
	   <div class="row" style="width:800px">
                    <div class="col-sm-4">
                  <button id="submitBtn" style="margin-top:20px;margin-left:75px" type="button" class="btn btn-success">Identify</button>
			
                    </div>
					</div>
	  </div>
	  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="../static/js/dropzone.min.js"></script>
<script src="../static/js/app.js"></script>
</html>